@import "assets/scss/partials/variables", "assets/scss/partials/color", "assets/scss/partials/header", "assets/scss/partials/main", "assets/scss/partials/footer";
nav{
  background-color: rgba(0, 0, 0, 0.45);
  }
.album-title{
  font-size: 5em;
  }
.play{
  background-color: #1FDF64;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  }