@import "assets/scss/partials/color", "assets/scss/partials/header",
  "assets/scss/partials/main", "assets/scss/partials/footer",
  "assets/scss/partials/player", "assets/scss/partials/playlist";
nav {
  background-color: rgba(0, 0, 0, 0.45);
}

.play {
  background-color: #1fdf64;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding: 1.5em;
}

.album-title {
  @media screen and (min-width: 768px) {
    font-size: 3.5em;
  }
}
.bi-clock {
  font-size: 1em;
}
i:hover {
  cursor: pointer;
}
#album-cover {
  @media screen and (min-width: 768px) {
    max-width: 20vw;
  }
}
.chevron {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 0.1%;
}
.song-row:hover {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  cursor: pointer;
}
#playlist-ul {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 80vh;
  ul {
    padding: 0;
    margin-top: 0.7em;
    li {
      list-style: none;
    }
  }
}

#heart.bi-heart-fill {
  color: #1fdf64;
}
#artist:hover {
  cursor: pointer;
}
#player {
  position: sticky;
  bottom: 8%;
  width: 100%;
  @media screen and (min-width: 768px) {
    bottom: 0;
  }
}
