@import "assets/scss/partials/color", "assets/scss/partials/header",
  "assets/scss/partials/main", "assets/scss/partials/footer";

nav {
  background-color: rgba(0, 0, 0, 0.45);
}

.play {
  background-color: #1fdf64;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding: 1.5em;
}

.album-title {
  @media screen and (min-width: 768px) {
    font-size: 3.5em;
  }
}
.bi-clock {
  font-size: 1em;
}
i:hover {
  cursor: pointer;
}
#album-cover {
  @media screen and (min-width: 768px) {
    width: 30vw;
  }
}
.chevron {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 0.1%;
}
.song-row:hover {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  cursor: pointer;
}
