@import "./partials/variables", "./partials/color", "./partials/header", "./partials/main", "./partials/footer";

nav {
  background-color : rgba(0, 0, 0, 0.45);
  }

.play {
  background-color : #1FDF64;
  border-radius    : 50%;
  width            : 45px;
  height           : 45px;
  }

.album-title {
  @media screen and (min-width : 768px) {
    font-size : 5em;
    }
  }
.bi-clock{
  font-size: 1em;
  }


