@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
body {
  background-color: black;
  color: white;
}

@media screen and (min-width: 768px) {
  nav {
    flex-direction: column;
    position: relative !important;
  }
  nav i {
    font-size: 1em;
  }
  nav i span {
    font-size: 0.8rem;
  }
}

i {
  font-size: 1.6rem;
}
i span {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.8em;
}

@media screen and (min-width: 678px) {
  main {
    background: rgb(36, 35, 36);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(36, 35, 36)), color-stop(100%, rgb(3, 3, 3)));
    background: linear-gradient(to bottom, rgb(36, 35, 36) 0%, rgb(3, 3, 3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#242324", endColorstr="#030303", GradientType=0 );
  }
  .bgViola {
    background: rgb(36, 35, 36);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(36, 35, 36)), color-stop(27%, rgb(10, 9, 10)), color-stop(38%, rgb(10, 10, 10)), color-stop(56%, rgb(0, 0, 0)), color-stop(100%, rgb(3, 3, 3)));
    background: linear-gradient(to bottom, rgb(36, 35, 36) 0%, rgb(10, 9, 10) 27%, rgb(10, 10, 10) 38%, rgb(0, 0, 0) 56%, rgb(3, 3, 3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#242324", endColorstr="#030303", GradientType=0 );
  }
  .bgi {
    background-color: #2a2a2a !important;
  }
  .al {
    border-top-right-radius: 20px;
    border-color: green !important;
  }
  .hiddenb {
    font-size: 0.6rem;
  }
  .mostra {
    font-size: 0.6rem;
  }
  .btprofile {
    background-color: black;
  }
  button img {
    width: 2em;
  }
  .colonna:hover {
    transform: scale(1.1);
    transition: transform 0.8s;
    z-index: 1;
    font-style: italic;
    color: green !important;
  }
  .mh:hover {
    background: rgb(66, 66, 70);
    background: linear-gradient(90deg, rgb(66, 66, 70) 0%, rgb(73, 73, 73) 0%, rgb(175, 177, 177) 100%);
  }
  .cardAlbum {
    height: 10rem;
    width: 7rem;
  }
  aside {
    margin: 0;
    padding: 0;
    background: #642B73; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: spotify-circular, Helvetica Neue, Helvetica, Arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic, sans-serif;
  }
  .wrapper {
    margin-top: 50px;
  }
  .wrapper_section_2 {
    margin-top: 10px;
  }
  .wrapper h1 {
    color: #fff;
    text-align: center;
    font-weight: bold;
  }
  .cardsss {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .cardV {
    width: 190px;
    height: 180px;
    margin: 15px;
    position: relative;
    min-width: 190px;
    background: #000;
  }
  .cardV:hover .overlayer {
    visibility: visible;
  }
  .cardV img {
    width: 100%;
    height: 100%;
  }
  .cardV .title {
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 180px;
  }
  .cardV .title a {
    top: -175px;
    color: #fff;
    position: relative;
    font-size: 13px;
    text-decoration: none;
  }
  .cardV .overlayer {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    visibility: hidden;
  }
  .overlayer .bi bi-play-circle {
    color: #fff;
    font-size: 73px;
    margin-top: 53px;
    transition: 100ms ease-in-out;
  }
  .bi bi-play-circle:hover {
    transform: scale(1.1);
  }
  /*  FOLLOW*/
  .Follow {
    background: url("https://pbs.twimg.com/profile_images/959092900708544512/v4Db9QRv_bigger.jpg") no-repeat center/contain;
    width: 50px;
    height: 50px;
    bottom: 9px;
    right: 20px;
    display: block;
    position: fixed;
    border-radius: 50%;
    z-index: 999;
    animation: rotation 10s infinite linear;
  }
  aside h3, h3 {
    font-family: "Rubik", sans-serif;
    text-decoration: underline;
  }
}
.card-music {
  background-color: rgb(66, 66, 70);
  background: linear-gradient(90deg, rgb(66, 66, 70) 0%, rgb(73, 73, 73) 45%, rgb(175, 177, 177) 100%);
}

.radiu {
  border-radius: 20px;
}

.A {
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=index.css.map */